
html{
	width: 100%;
	height: 175%;
}

body {
    background: #ffffff;
    color: #000000;
    font-family:"Heebo",sans-serif;
    size: 14px;
}


#menu {
	background: #0099cccf;
	background: linear-gradient(to bottom,  #0099CC,  #14208F);
	color: #FFF;
	height: 45px;
	padding-left: 500px;
	border-radius: 10px;
    margin-right: 250px;
	margin-left: 10%;
	margin-bottom: 40px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
    float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
p {
	padding: 10px;
	margin-left: 40px;
	font-size: 35px;
	color: #ffffff;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 8;
	margin-top: 0px;
	background: linear-gradient(to bottom,  #0099CC,  #14208F);
	text-align: center;
	height: 60px;
	font-family: 'Rampart One', cursive;
}
#grid {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	height: 978px;
  }
#grid2 {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	height: 978px;
  }
#image {
	width: 300px;
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 12;
	margin: 10px;
}

#front {
	width: 1000px;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
}
h1 {
	padding: 14px;
	margin-left: 90px;
	font-size: 40px;
	color: #ffffff;
	width: 800px;
	height: 60px;
	grid-column-start: 3;
	grid-column-end: 8;
	grid-row-start: 8;
	grid-row-end: 9;
	text-align: center;
	background: linear-gradient(to bottom,  #0099CC,  #14208F);
	box-shadow: 3px 3px 5px black;
}
h2 {
	padding: 10px;
	margin-top: 14px;
	font-size: 28px;
	color: #094686;
	width: 328px;
	height: 40px;
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 7;
	text-align: left;
	padding-left: 30px;
	box-shadow: 3px 3px 5px black;
}
h3 {
	background: #FFFFFF;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 9;
	margin: 0px;
	height: 1000px;
}
h4 {
	padding: 10px;
	margin-top: 14px;
	font-size: 28px;
	color: #094686;
	width: 328px;
	height: 40px;
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 7;
	text-align: left;
	padding-left: 30px;
	box-shadow: 3px 3px 5px black;
}
h5 {
	padding: 10px;
	margin-top: 14px;
	font-size: 28px;
	color: #094686;
	width: 328px;
	height: 40px;
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 5;
	grid-row-end: 7;
	text-align: left;
	padding-left: 30px;
	box-shadow: 3px 3px 5px black;
}
h6 {
	background: #585858;
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 7;
	grid-row-end: 9;
	margin: 0px;
	height: 4px;	
}

h7 {
	margin-left: 100px;
	font-size: 35px;
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 7;
	grid-row-end: 9;
	padding-top: 40px;
	color: #094686;
	font-weight: bold;
}
h8 {
	margin-left: 100px;
	font-size: 25px;
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 8;
	grid-row-end: 9;
}

h9 {
	width: 1000px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 9;
	padding-top: 30px;
	text-align: left;
	font-size: 35px;
	color: #094686;
	font-weight: bold;
	height: 100px;
}
h10 {
	padding: 10px;
	margin-top: 0px;
	font-size: 28px;
	color: #094686;
	width: 1200px;
	height: 346px;
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 7;
	text-align: left;
	padding-left: 30px;
	box-shadow: 3px 3px 5px black;
}
h11 {
	background: #161515;
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 4;
	margin: 0px;
	height: 100px;
	width: 100px;
	border: 1px solid #000000;
}
h12 {
	background: #5a5454;
	grid-column-start: 6;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 4;
	margin: 0px;
	height: 100px;
	width: 100px;
	border: 1px solid #000000;
}

h13 {
	padding: 10px;
	margin-top: 14px;
	font-size: 28px;
	color: #094686;
	width: 328px;
	height: 40px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 7;
	text-align: left;
	padding-left: 30px;
	box-shadow: 3px 3px 5px black;
}
h14 {
	margin-left: 100px;
	font-size: 35px;
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 8;
	grid-row-end: 9;
	padding-top: 40px;
	color: #094686;
	font-weight: bold;
}
h15 {
	margin-left: 100px;
	font-size: 25px;
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 9;
	grid-row-end: 11;
}
h16 {
	background: #585858;
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 8;
	grid-row-end: 11;
	margin: 0px;
	height: 4px;
}
h17 {
	background: #FFFFFF;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 9;
	margin: 0px;
	height: 1050px;
}

h18 {
	background: #0d0858;
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 4;
	margin: 0px;
	height: 100px;
	width: 100px;
	border: 1px solid #000000;
}

h19 {
	background: #ffffff;
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 4;
	margin: 0px;
	height: 100px;
	width: 100px;
	border: 1px solid #000000;
}

#toiletten {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 5;
	width: 368px;
	height: 306px;
	box-shadow: 3px 0px 5px black;
}

#wcbril {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 5;
	width: 368px;
	height: 306px;
	box-shadow: 3px 0px 5px black;
}

#wcbril1 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
	width: 368px;
	height: 306px;
}

#wcbediening {
	grid-column-start: 8;
	grid-column-end: 10;
	grid-row-start: 2;
	grid-row-end: 5;
	width: 368px;
	height: 306px;
	box-shadow: 3px 0px 5px black;
}

body {
	background-image: url('https://cdn.wallpapersafari.com/22/49/Y4lP9G.jpg');
}
